<div class="container-fluid">
  <div class="row sticky-top bg-dark" style="height: 10vh">
    <div class="col d-flex  align-items-center text-light">
      <img src="assets/p1.png" height="70px" class="ml-2">
     Diet Tracker
    </div>
    <div class="text-light d-flex justify-content-center align-items-center h3">Welcome {{name}}</div>
    <div class="col d-flex justify-content-end align-items-center">
      <a class="text-light mr-3" routerLink="/home/Diet_Tracker">Diet Tracker</a>
      <a class="text-light mr-3" routerLink="/home">
      Home
      </a>
      <a class="text-light mr-3" routerLink="/register">
        Account
        </a>
      <a class="text-light mr-5" routerLink="/home/contact-us">
      Contact Us
      </a>

      <button class="btn btn-outline-danger mr-1" (click)="processLogout()">
        Log Out
      </button>
    </div>
  </div>
  <div class="row bg-dark justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MwmGUKO8Fa4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="row bg-danger justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7WnpSB14nDM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="row bg-success justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SffWUBxXQ9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="row bg-info justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MwmGUKO8Fa4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="row bg-warning justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7WnpSB14nDM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="row bg-dark justify-content-center align-items-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SffWUBxXQ9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>